body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #FFE9D0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.stopwatch {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startStopBtn {
    background-color: green;
    color: white;
}

#resetBtn {
    background-color:#405D72 ;
    color: white;
}

#lapBtn {
    background-color:#dc3545;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
